<launch>
    <!-- By default, we are not in debug mode -->
    <arg name="debug" default="false" />
    <arg name="use_gui" default="false" />
  
    <!-- load joint states topic for moveit interface -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="false"/>
      <rosparam param="source_list">[/joint_states]</rosparam>
    </node>
  
    <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
    <include file="$(find ur5_moveit_config)/launch/move_group.launch">
      <arg name="allow_trajectory_execution" value="true"/>
      <!-- <arg name="fake_execution" value="false"/> -->
      <arg name="info" value="true"/>
      <arg name="debug" value="$(arg debug)"/>
      <arg name="load_robot_description" value="false"/>
    </include>
  
  </launch>
  