<?xml version="1.0"?>
<launch>

    <!-- ******************************************************************************************** -->
    <!-- ******************************************************************************************** -->
    <!-- Launch RViz -->

    <node 
        pkg="rviz" 
        type="rviz" 
        name="rviz" 
        args="-d $(find abb_irb140)/rviz/config.rviz"
    />

    <!-- ******************************************************************************************** -->
    <!-- ******************************************************************************************** -->
    <!-- Launch Gazebo -->

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="worlds/empty.world"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="paused" value="false"/>
        <arg name="recording" value="false"/>
    </include>

    <!-- ******************************************************************************************** -->
    <!-- ******************************************************************************************** -->
    <!-- Spawn robot in Gazebo -->
    
    <include file="$(find abb_irb140)/launch/spawn_model_gazebo.launch">
        <arg name="robot_name" value="robot1"/>
        <arg name="x" default="0.0"/>
        <arg name="y" default="0.0"/>
        <arg name="z" default="0.0"/>
        <arg name="roll" default="$(eval 0.0 * 3.141592 / 180.0)"/>
        <arg name="pitch" default="$(eval 0.0 * 3.141592 / 180.0)"/>
        <arg name="yaw" default="$(eval 0.0 * 3.141592 / 180.0)"/>
    </include>

    <!-- <arg name="ns_rob2" value="irb140_2"/>
    <group ns="$(arg ns_rob2)">
        <include file="$(find abb_irb140)/launch/spawn_model_gazebo.launch">
            <arg name="robot_name" value="$(arg ns_rob2)"/>
            <arg name="x" default="0.0"/>
            <arg name="y" default="4.0"/>
            <arg name="z" default="0.0"/>
            <arg name="roll" default="$(eval 0.0 * 3.141592 / 180.0)"/>
            <arg name="pitch" default="$(eval 0.0 * 3.141592 / 180.0)"/>
            <arg name="yaw" default="$(eval 0.0 * 3.141592 / 180.0)"/>
        </include>
    </group> -->
    
    
</launch>