<?xml version="1.0" ?>
<model>
    <name>Kobuki_maze_small</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Jose Fajardo</name>
        <email>jmfajardod@unal.edu.co</email>
    </author>
    <description>Kobuki Small Maze for RL task</description>
</model>
