<?xml version="1.0" ?>
<model>
    <name>Kobuki_maze_smallv2</name>
    <version>2.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Jose Fajardo</name>
        <email>jmfajardod@unal.edu.co</email>
    </author>
    <description>Kobuki small maze v2</description>
</model>
